@using TaskManager.WEB.Helpers;
@using System.Threading;
@{
    ViewBag.Title = CommonResource.AppName;
}
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @{
        var currentCulture = Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
        var supportedCultures = CultureHelper.GetSupportedCultures();
    }

    @helper active(string c, string culture)
    {
        if (c == culture)
        {
            @:active
        }
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(CommonResource.AppName, "List", "Project", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(ProjectResource.Projects, "List", "Project")</li>
                    <li>@Html.ActionLink(IssueResource.Issues, "List", "Issue")</li>
                    <li>@Html.ActionLink(EmployeeResource.Employees, "List", "Employee")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @CommonResource.Language <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @{
                            <text>
                                <li class="@active("en", currentCulture)">
                                    @Html.ActionLink(linkText: "English", controllerName: "Api", actionName: "SetCulture", routeValues: new { returnUrl = Context.Request.Path, culture = "en" }, htmlAttributes: null)
                                </li>
                            </text>
                            <text>
                                <li class="@active("ru", currentCulture)">
                                    @Html.ActionLink(linkText: "Русский", controllerName: "Api", actionName: "SetCulture", routeValues: new { returnUrl = Context.Request.Path, culture = "ru" }, htmlAttributes: null)
                                </li>
                            </text>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @CommonResource.AppName. Powered by ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
