@model TaskManager.WEB.ViewModels.EmployeesListView

@using TaskManager.WEB.Helpers

@{
    ViewBag.Title = "Employees list";

    var error = ViewBag.Error;
}

<h3>@ViewBag.Title</h3>

<h2>
    @Html.ActionLink(linkText: "Create new employee", actionName: "Edit", routeValues: new { id = 0 }, controllerName: "Employee", htmlAttributes: new { @class = "btn btn-primary" })

</h2>

@if (error != null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

@if (Model.Employees != null && Model.Employees.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
                <th>Position</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => employee.FirstName)</td>
                    <td>@Html.DisplayFor(_ => employee.LastName)</td>
                    <td>@Html.DisplayFor(_ => employee.MiddleName)</td>
                    <td>@Html.DisplayFor(_ => employee.Position)</td>
                    <td>
                        @Html.ActionLink(linkText: "Edit", actionName: "Edit", routeValues: new { id = (int) employee.Id }, controllerName: "Employee", htmlAttributes: new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink(linkText: "Delete", actionName: "Delete", routeValues: new { id = (int) employee.Id }, controllerName: "Employee", htmlAttributes: new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
    { 
    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { page = x }))
    </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        There are no employees yet!
    </div>
}
