@model TaskManager.WEB.ViewModels.EmployeesListView

@using TaskManager.WEB.Helpers
@using TaskManager.Resources

@{
    ViewBag.Title = EmployeeResource.EmployeesList;

    var error = ViewBag.Error;
}

<h3>@ViewBag.Title</h3>

<h2>
    @Html.ActionLink(linkText: EmployeeResource.CreateEmployee, actionName: "Edit", routeValues: new { id = 0 }, controllerName: "Employee", htmlAttributes: new { @class = "btn btn-primary" })
</h2>

@if (error != null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchTerm", ViewBag.CurrentFilter as string, htmlAttributes: new { @placeholder = CommonResource.Search, @maxlength = 200})
        <button type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </p>
}

@if (Model.Employees != null && Model.Employees.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @EmployeeResource.FirstName
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "FirstName", isAscending = true, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </a>
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "FirstName", isAscending = false, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </th>
                <th>
                    @EmployeeResource.LastName
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "LastName", isAscending = true, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </a>
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "LastName", isAscending = false, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </th>
                <th>
                    @EmployeeResource.MiddleName
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "MiddleName", isAscending = true, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </a>
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "MiddleName", isAscending = false, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </th>
                <th>
                    @EmployeeResource.Position
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "Position", isAscending = true, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </a>
                    <a href="@Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { sortColumn = "Position", isAscending = false, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => employee.FirstName)</td>
                    <td>@Html.DisplayFor(_ => employee.LastName)</td>
                    <td>@Html.DisplayFor(_ => employee.MiddleName)</td>
                    <td>@Html.DisplayFor(_ => employee.Position)</td>
                    <td>
                        <a href="@Url.Action(actionName: "Edit", controllerName: "Employee", routeValues: new { id = (int) employee.Id })">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action(actionName: "Delete", controllerName: "Employee", routeValues: new { id = (int) employee.Id })">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
    {
        <br />
        <div class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action(actionName: "List", controllerName: "Employee", routeValues: new { page = x, sortColumn = ViewBag.SortColumn, isAscending = ViewBag.IsAscending, currentFilter = ViewBag.CurrentFilter }))
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        @EmployeeResource.EmployeesNotFound
    </div>
}
