@model IEnumerable<Task_manager.Models.Employee>

@{
    ViewBag.Title = "Employees list";
}

<h3>
    @Html.ActionLink("Add new employee", "Edit/0", "Employee")
</h3>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Name</th>
            <th>Position</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.MiddleName</td>
                <td>@employee.Position</td>
                <td>
                    @Html.ActionLink("Edit", "Edit/"+employee.Id, "Employee")
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete/" + employee.Id, "Employee")
                </td>
            </tr>
        }
    </tbody>
</table>