@model TaskManager.WEB.ViewModels.ProjectListView

@using TaskManager.WEB.Helpers

@{
    ViewBag.Title = ProjectResource.ProjectsList;

    Layout = "~/Views/Shared/_Layout.cshtml";

    var error = ViewBag.Error;
}

<h3>@ViewBag.Title</h3>

<h2>
    @Html.ActionLink(linkText: ProjectResource.CreateProject, actionName: "Edit", controllerName: "Project", routeValues: new { id = 0, isCleanSessionNeeded = true }, htmlAttributes: new { @class = "btn btn-primary", @onclick = "clearTempProject()" })
</h2>

@if (error != null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchTerm", ViewBag.CurrentFilter as string, htmlAttributes: new { @placeholder = CommonResource.Search, @maxlength = 200 })
        <button type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </p>
}

@if (Model.Projects != null && Model.Projects.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @ProjectResource.Name
                    <a href="@Url.Action(actionName: "List", controllerName: "Project", routeValues: new { sortColumn = "Name", isAscending = true, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </a>
                    <a href="@Url.Action(actionName: "List", controllerName: "Project", routeValues: new { sortColumn = "Name", isAscending = false, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </th>
                <th>
                    @ProjectResource.ShortName
                    <a href="@Url.Action(actionName: "List", controllerName: "Project", routeValues: new { sortColumn = "ShortName", isAscending = true, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </a>
                    <a href="@Url.Action(actionName: "List", controllerName: "Project", routeValues: new { sortColumn = "ShortName", isAscending = false, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </th>
                <th>
                    @ProjectResource.Description
                    <a href="@Url.Action(actionName: "List", controllerName: "Project", routeValues: new { sortColumn = "Description", isAscending = true, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-top"></i>
                    </a>
                    <a href="@Url.Action(actionName: "List", controllerName: "Project", routeValues: new { sortColumn = "Description", isAscending = false, currentFilter = ViewBag.CurrentFilter })">
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => project.Name)</td>
                    <td>@Html.DisplayFor(_ => project.ShortName)</td>
                    <td>@Html.DisplayFor(_ => project.Description)</td>
                    <td>
                        <a href="@Url.Action(actionName: "Edit", controllerName: "Project", routeValues: new { id = (int) project.Id, isCleanSessionNeeded = true })" onclick="clearTempProject()">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action(actionName: "Delete", controllerName: "Project", routeValues: new { id = (int) project.Id })">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
    {
        <br />
        <div class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action(actionName: "List", controllerName: "Project", routeValues: new { page = x, sortColumn = ViewBag.SortColumn, isAscending = ViewBag.IsAscending, currentFilter = ViewBag.CurrentFilter }))
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        @ProjectResource.ProjectsNotFound
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/listprojects")
}
