@model IEnumerable<TaskManager.Models.Issue>

@{
    ViewBag.Title = "Issues list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

<h2>
    <a class="btn btn-primary" href="/Issue/Edit/0">Create new task</a>
</h2>
<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Name</th>
            <th>Begin Date</th>
            <th>End Date</th>
            <th>Assignee</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var issue in Model)
        {
        <tr>
            <td>@Html.DisplayFor(_ => issue.ProjectId)</td>
            <td>@Html.DisplayFor(_ => issue.Name)</td>
            <td>@Html.DisplayFor(_ => issue.BeginDate)</td>
            <td>@Html.DisplayFor(_ => issue.EndDate)</td>
            <td>@Html.DisplayFor(_ => issue.ProjectId)</td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + issue.Id, "Issue", htmlAttributes: new { @class = "btn btn-primary" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Delete/" + issue.Id, "Issue", htmlAttributes: new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>
